@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
  /* .gradient-background { */
  background: linear-gradient(to right, #f8f8f8, #3498db);
/* } */
  font-family: 'Poor Story', system-ui;
  font-weight: 600;
  font-size: large ;
}

object {
  width: 100px;
  height: 400px;
}

.hide {
  visibility: hidden;
}

#chart {
  width: auto;
  height: auto;
  background-color: red;
  align-content: center;
  color: #ffffff;
}

circle {
  stroke-width: 1.5px;
}

line {
  stroke: #999;
  stroke-width: 3px;
}

.container {
  position: absolute;
  /* display: flex; */
  width:auto;
  align-content: center;
  align-items: center; 
  left: 50%;
  transform: translate(-50%);
}

.heading {
  /* background-color: #365486; */
  background: linear-gradient(to bottom right, #1B0570, #4811B4);
  color: #F5F5F5;
  font-family: 'Poor Story', system-ui;
  padding: 10px;
  font-size: 40px;
  font-weight: 700;
}

.input-form {
  width: 300px;
}

.btn-bd-primary {
  --bs-btn-color: var(--bs-violet);
  
}